{% extends 'base.html' %} 

{% block title %} Receitas {% endblock %} 

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg border-0 rounded-3">
        <div style="background-color: #f8f9fa; height: 300px; display: flex; align-items: center; justify-content: center;">
          <img src="{{ receita.cover }}" class="img-fluid" style="max-height: 100%; object-fit: contain;" alt="{{ receita.title }}">
        </div>
        <div class="card-body">
          <h1 class="card-title text-center mb-3">{{ receita.title }}</h1>
            <p class="card-text text-muted text-center">{{ receita.description }}</p>
          <hr>
          <div class="d-flex justify-content-around my-3">
            <p><i class="bi bi-clock"></i> <strong>Tempo de preparo:</strong> {{ receita.preparation_time }} {{ receita.preparation_time_unit }}</p>
            <p><i class="bi bi-people"></i> <strong>Serve:</strong> {{ receita.servings }} {{ receita.servings_unit }}</p>
          </div>

          <h3 class="mt-4">Modo de preparo</h3>
          <ol class="list-group list-group-numbered mb-4">
            {% for passo in receita.preparation_steps %}
              <li class="list-group-item">{{ passo }}</li>
            {% endfor %}
          </ol>

          <div class="d-flex justify-content-between">
            <p class="mb-0"><strong>Autor:</strong> {{ receita.author.first_name }} {{ receita.author.last_name }}</p>
            <p class="mb-0"><strong>Categoria:</strong> {{ receita.category.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
